
.body{
	width:100%;
	height:100%;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	
}

.heading-para{
	width:90%;
	margin:auto;
	text-align:center;
	align-items:center;
	box-sizing:border-box;	
}

.heading-para h1{
	color:#5b5b78;
    font-size: 3rem;	
}


.heading-para p{
	color:#9494a9;
    font-size: 2.5rem;	
}


.box1{
    width: 90%;

    height: auto;
    padding: 27px;
    box-sizing: border-box;	
}

.box1 p{
    font-family: sans-serif;
    color: #9494a9;
	text-align: center;
    align-items: center;
    font-size: 2rem;
    line-height: 33px;
	
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box2{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box2 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box3{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box3 p{
    font-family: sans-serif;
    color: #9494a9;
   font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}



@media(min-width:576px){
.body{
	width:100%;
	height:100%;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	
}

.heading-para{
	width:90%;
	margin:auto;
	text-align:center;
	align-items:center;
	box-sizing:border-box;	
}

.heading-para h1{
	color:#5b5b78;
    font-size: 3rem;	
}


.heading-para p{
	color:#9494a9;
    font-size: 2.5rem;	
}


.box1{
    width: 90%;
    height: auto;
	text-align: center;
    align-items: center;
    padding: 27px;
    box-sizing: border-box;	
}

.box1 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 2rem;
    line-height: 33px;
	
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box2{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box2 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box3{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box3 p{
    font-family: sans-serif;
    color: #9494a9;
   font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}
}


@media(min-width:768px){
.body{
	width:100%;
	height:100%;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	
}

.heading-para{
	width:90%;
	margin:auto;
	text-align:center;
	align-items:center;
	box-sizing:border-box;	
}

.heading-para h1{
	color:#5b5b78;
    font-size: 3rem;	
}


.heading-para p{
	color:#9494a9;
    font-size: 2.5rem;	
}


.box1{
    width: 90%;
	text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;	
}

.box1 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 2rem;
    line-height: 33px;
	
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box2{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box2 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box3{
    width: 90%;
    text-align: center;
    align-items: center;
    height: auto;
    padding: 27px;
    box-sizing: border-box;		
}

.box3 p{
    font-family: sans-serif;
    color: #9494a9;
   font-size: 2rem;
    line-height: 33px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}
}

@media(min-width:992px){
.body{
	width:100%;
	height:100%;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	
}

.heading-para{
	width:90%;
	margin:auto;
	text-align:center;
	align-items:center;
	box-sizing:border-box;	
}

.heading-para h1{
	color:#5b5b78;
    font-size: 2rem;	
}


.heading-para p{
	color:#9494a9;
    font-size: 1.5rem;	
}

.flex-container{
	display:flex;
	flex-wrap:wrap;
    margin-top: 25px;
	justify-content:space-between;
}

.box1{
	width:47%;
	height:auto;
    padding: 27px;
   text-align: left;
	box-sizing:border-box;	
}

.box1 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 1.5rem;
    line-height: 27px;
	
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box2{
	width:47%;
	height:auto;
    padding: 27px;
    text-align: left;
	box-sizing:border-box;	
}

.box2 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 1.5rem;
    line-height: 27px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box3{
	width:47%;
	height:auto;
    padding: 27px;
   text-align: left;
	box-sizing:border-box;	
}

.box3 p{
    font-family: sans-serif;
    color: #9494a9;
   font-size: 1.5rem;
    line-height: 27px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}
}

@media(min-width:1200px){
.body{
	width:100%;
	height:100%;
}

.container{
	width:90%;
	height:auto;
	margin:auto;
	box-sizing:border-box;
	
}

.heading-para{
	width:90%;
	margin:auto;
	text-align:center;
	align-items:center;
	box-sizing:border-box;	
}

.heading-para h1{
	color:#5b5b78;	
}


.heading-para p{
	color:#9494a9;	
}

.flex-container{
	display:flex;
    margin-top: 25px;
	justify-content:space-between;
}

.box1{
	width:30%;
	height:auto;
    padding: 27px;
    text-align: left;
	box-sizing:border-box;
	box-shadow:3px 3px 3px 3px rgba(0,0,0,7%);
	
}

.box1 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 1rem;
	   text-align: left;
    line-height: 21px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box2{
	width:30%;
	height:auto;
    padding: 27px;
    text-align: left;
	box-sizing:border-box;
    box-shadow:3px 3px 3px 3px rgba(0,0,0,7%);	
}

.box2 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 1rem;
    line-height: 21px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}


.box3{
	width:30%;
	height:auto;
    padding: 27px;
    text-align: left;
	box-shadow:3px 3px 3px 3px rgba(0,0,0,7%);
	box-sizing:border-box;	
}

.box3 p{
    font-family: sans-serif;
    color: #9494a9;
    font-size: 1rem;
    line-height: 21px;
}

.image img{
	border-radius:50%;
}

.page2-para h1{
	color:#5b5b78;	
}

.page2-para{
	line-height:0px;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
	box-sizing:border-box;
	border:solid 2px blue;
	box-sizing:border-box;
}

.circle1{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
	box-sizing:border-box;
	border:solid 2px blue;
	box-sizing:border-box;
}

.circle2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
	background-color:blue;
	box-sizing:border-box;
	border:solid 2px blue;
	box-sizing:border-box;
}

.circle3{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
	box-sizing:border-box;
	border:solid 2px blue;
	box-sizing:border-box;
}

.circle4{
    height: 10px;
    width: 10px;
    border-radius: 50%;
	box-sizing:border-box;
	border:solid 2px blue;
	box-sizing:border-box;
}

.grp-circle{
	display:flex;
	margin-left:41%;
	margin-top: 30px;
}
}